body{
  margin:5;
}
/*
#active{
  color:red;
}.saw{
  color:gray;
}
id태그처럼 해당 태그 속 class="saw"
*/
a{
  color:skyblue;
  text-decoration:none;
}
h1{
  font-size:45px;
  text-align:center;
  border-bottom:1px solid CadetBlue;
  margin:0;
  padding:20px;
}
#grid ol{
  /*
  부모가 grid인 태그를 선택하는 선택자
  ol 은 block level element
  */
  border-right:1px solid CadetBlue;
  width:100px;
  margin:0;
  padding:20px;
  padding-left:30px;
}
#grid{
  display:grid;
  grid-template-columns:150px 1fr;
}
#article{
  padding-left:20px;
}
@media(max-width:750px){
  #grid{
    display:block;
  }
  #grid ol{
    border-right:none;
  }
  h1{
    border-bottom:none;
  }
}
